@charset "utf-8";
html, body{height:100%;padding:0;margin:0;}
body{background-color:#9cdbff;position:relative;min-height:300px !important;}
body *{font-family:Arial, Geneva, SunSans-Regular, sans-serif;font-size:14px;color:#333;line-height:22px;}

/* wrapper */
#wrapper{border:20px solid rgba( 255, 255, 255, 0.5 );box-shadow:0 10px 20px rgba( 0, 0, 0, 0.3 );width:800px;height:500px;margin:-270px 0 0 -420px;position:absolute;top:50%;left:50%;overflow:hidden;}
#carousel img{float:left;}
#timer,  #play{position:absolute;top:50%;left:50%;z-index:2;opacity:0.2;transition:opacity 0.5s ease;}
#timer{width:150px;height:150px;margin:-75px 0 0 -75px;}
#timer .top,  #timer .bottom{width:150px;height:75px;overflow:hidden;}
#timer .bottom img{margin-top:-76px;transform:rotate(180deg);}
#play{border:20px solid transparent;border-left:30px solid #fff;width:0;height:0;margin:-20px 0 0 -10px;}
#play.paused{border:10px solid #fff;border-top:none;border-bottom:none;width:10px;height:36px;margin:-18px 0 0 -14px;}
#wrapper:hover #timer,  #wrapper:hover #play{opacity:0.7;}