<section class="comments">
    <!--
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    -->
    <div class="ds-thread" data-title="{{ page.title }}" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}>
    </div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name: "desgardcoding"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
</section>
