{% strip %}
<!DOCTYPE html>
<html class="no-js" lang="zh">
  <head>
    {% include head.html %}
  </head>
  <body class="{% if page.post_class %}{{page.post_class}}{% endif %} {% if page.slug %}{{page.slug}}{% endif %}">
    {% include header.html %}

    {% if page.slug == 'home' %}
      {% include banner.html %}
    {% endif %}

    <main class="wrapper container" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
      {{ content }}
    </main>

    {% include footer.html %}

    {% include search-modal.html %}

    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAaT2wRK0cT-No01J7ScBngpwCYWQP6Wq0",
        authDomain: "guardia-blog.firebaseapp.com",
        databaseURL: "https://guardia-blog.firebaseio.com",
        projectId: "guardia-blog",
        storageBucket: "guardia-blog.appspot.com",
        messagingSenderId: "457697924041",
        appId: "1:457697924041:web:69d01fdb302d30052d8e18",
        measurementId: "G-TM7J1LHC1Z"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
  <script>
    var link = "{{ page.mobile_link }}" ;

    var os = function() {  
      var ua = navigator.userAgent,  
      isWindowsPhone = /(?:Windows Phone)/.test(ua),  
      isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,   
      isAndroid = /(?:Android)/.test(ua),   
      isFireFox = /(?:Firefox)/.test(ua),   
      isChrome = /(?:Chrome|CriOS)/.test(ua),  
      isTablet = /(?:iPad|PlayBook)/.test(ua) || (isAndroid && !/(?:Mobile)/.test(ua)) || (isFireFox && /(?:Tablet)/.test(ua)),  
      isPhone = /(?:iPhone)/.test(ua) && !isTablet,  
      isPc = !isPhone && !isAndroid && !isSymbian;  
      return {  
        isTablet: isTablet,  
        isPhone: isPhone,  
        isAndroid : isAndroid,  
        isPc : isPc  
      };  
    }();  

    if (link.length > 0) {
      if (os.isAndroid || os.isPhone) {
        location.replace(link);
      }
    }
  </script>
</html>
  {% endstrip %}