{%- if site.comments.gitalk.clientID and
	site.comments.gitalk.clientSecret and
	site.comments.gitalk.repository and
	site.comments.gitalk.owner and
	site.comments.gitalk.admin -%}

	<style type="text/css">
		.gitalk-wrapper .gt-header-textarea {
			color: #333 !important;
		}
	</style>

	{%- include snippets/get-sources.html -%}
	{%- assign _sources = __return -%}
	<div class="gitalk-wrapper" id="js-gitalk-container"></div>
	<script>
		window.Lazyload.css('{{ _sources.gitalk.css }}');
		var url = "{{ page.url }}";
		var key = url.split("/").pop();
		key = key.substring(0, key.length - 5);
		console.log("key", key);

		var repo = '{{ site.comments.gitalk.repository }}';

		// 复用评论
		var current_repo = '{{ page.repository }}';
		var current_key = '{{ page.key }}';
		if (current_repo && current_repo !== '') {
			repo = current_repo;
		}
		if (current_key && current_key !== '') {
			key = current_key;
		}

		if (key !== "" && '{{ page.ban_talk }}' !== 'ban') {
			window.Lazyload.js('{{ _sources.gitalk.js }}', function() {
				var gitalk = new Gitalk({
					clientID: '{{ site.comments.gitalk.clientID }}',
					clientSecret: '{{ site.comments.gitalk.clientSecret }}',
					repo: repo,
					owner: '{{ site.comments.gitalk.owner }}',
					admin: ['Desgard'],
					id: key,
					distractionFreeMode: false
				});
				gitalk.render('js-gitalk-container');
			});
		}
		
		
	</script>

{%- endif -%}
