<section class="banner">

  <img src="{{ site.author.image | prepend: site.baseurl  }}" alt="author thumb" class="dot animated hinge fadeInDown" id="avartor" width="120px">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person"><strong itemprop="name">{{ site.name }}</strong><em itemprop="jobTitle">iOS Dev</em> and try everything!</h2>

  <nav class="actions">
    <a href="{{ "/about" | prepend: site.baseurl }}" class="button ghost">About</a>
    <a href="{{ site.project_url }}" class="button ghost">Project</a>
      <a href="{{ site.life_url }}" class="button ghost">Life</a>
  </nav>

</section>

<script>
    $("#avartor").mouseover();
</script>