<hr>

<aside id="comments" class="disqus">

  <!--<h3 class="txt-center"><i class="fa fa-comments"></i> Comments</h3>
  <hr>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = '{{ page.id }}';
    var disqus_title = '{{ page.title }}';
    var disqus_url = '{{ site.url }}{{ post.url }}';
    /*var disqus_developer = 1;*/

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>-->

  <div id="container"></div>
  <link rel="stylesheet" href="/assets/css/gitment.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    id: "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}", 
    owner: 'Desgard',
    repo: 'desgard.github.com',
    oauth: {
      client_id: 'e2612df42f3f2a83e71c',
      client_secret: 'b53e85b314bb24a6d06773e48bbb62a4de3b8b3a',
    },
  })
  gitment.render('container')
  </script>

</aside>