<hr>

<aside id="comments" class="disqus">
  <div id="container"></div>
  <link rel="stylesheet" href="/assets/css/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

  <div id='gitalk-container'></div>
  <script>
    const gitalk = new Gitalk({
      id: "{{ page.url, prepend: site.baseurl | prepend: site.url }}",
      clientID: 'e2612df42f3f2a83e71c',
      clientSecret: 'b53e85b314bb24a6d06773e48bbb62a4de3b8b3a',
      repo: 'desgard.github.com',
      owner: 'Desgard',
      admin: ['Desgard'],
      // facebook-like distraction free mode
      distractionFreeMode: false
    })
    gitalk.render('gitalk-container')
  </script>

</aside>