
<aside class="share">

  <h4>Share this.</h4>

  <a href="http://twitter.com/share?text=《{{page.title}}》 -- Guardia · 瓜地&amp;url={{site.url}}{{ page.url }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <i class="fa fa-twitter-square"></i>
  </a>
  <a href="http://v.t.sina.com.cn/share/share.php?url={{site.url}}{{page.url}}&amp;title=《{{page.title}}》 —— Guardia · 瓜地" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <i class="fa fa-weibo"></i>
  </a>
    
</aside>
