---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

{%- include snippets/assign.html
  target=site.data.variables.default.page.show_qrcode
  source0=layout.show_qrcode source1=page.show_qrcode -%}
{%- assign _show_qrcode = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}


  <div class="d-print-none">
    {%- include article-footer.html -%}

    {%- if _show_qrcode -%}
      <img src="https://www.desgard.com/assets/images/qrcode.png" width="80%"/>
    {%- endif -%}

    {%- include article-section-navigator.html -%}
  </div>

  
</div>

<script>
  {%- include scripts/article.js -%}
</script>
