---
layout: default
---
<h2 class="post-name">Knowledge</h2>
<div class="post">
  <div class="post-heading inside">
    <img src="/public/img/Desgard_Duan.jpg">
    <h1 class="post-title">
      <a class="post-title-blog" href="{{ post.url }}">
        {{ page.title }}
      </a>
    </h1>
      <p class="post-info">
          知识源于跬步。
      </p>
      
  </div>
  <div class="post-content">
    {{ content }}    
  </div>
</div>


<!-- <div class="comments"> -->
<h2>Comments</h2>



<!-- Duoshuo Comment BEGIN -->  
{% include comment.html %}
<!-- Duoshuo Comment END -->
